<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-ewelleroshkosh" value="https://nuget.pkg.github.com/EWellerOshkosh/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-ewelleroshkosh>
      <add key="Username" value="%GITHUB_ACTOR%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-ewelleroshkosh>
  </packageSourceCredentials>
</configuration>
